Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96 
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! https://wiki.archlinux.org/index.php/Xterm
! https://lukas.zapletalovi.com/2013/07/hidden-gems-of-xterm.html
! http://www.futurile.net/2016/06/14/xterm-setup-and-truetype-font-configuration/
! http://www.futurile.net/2016/06/15/xterm-256color-themes-molokai-terminal-theme/
