@-moz-document url-prefix(about:home), url-prefix(about:newtab) {
    body { 
        background: #2b2a33 url(https://source.unsplash.com/collection/11649432/1920x1080) !important; 
        background-size: cover !important ; 
    } 

    /* Background Overlay */
    body::before {
        background-color: #3c3836aa;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }


    .top-site-button .tile {
        background-color: transparent !important;
        box-shadow: none !important;
    }
    .top-site-button .title {
        font-family: SF UI Display !important;
        font-size: 1.2rem !important;
        font-weight: lighter !important;
        color: #fff !important ;
        text-shadow: 0px 0px 2px #000 !important ;
        text-decoration: underline !important;
    }
    .top-site-button .has-icon {
        text-decoration: none !important;
    }


/* icon before the link name */
    .top-site-button .icon {
        display: none !important;
        background-image: none !important;
        height: 100% !important;
        margin-right: .3em !important;
    }
    .top-site-button .icon::before {
        content: "♡";
    }
/*  */

    .top-site-icon{
        background-color: transparent !important;
        box-shadow: none !important;
    }
}